body{
    background-image: url('../images/prism.png');
}

.nav-custom{
    border-bottom: 1px solid whitesmoke ;
}

.navbar-brand{
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    border: 1pt solid black !important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    background: lightgray !important;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke !important;
}

.navbar-nav{
    font-size: 14pt !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.nav-item{
    color:whitesmoke !important;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    text-align: center !important;
}

.first-row{
    margin-top:50px;

}

.content-main{
    background-color: whitesmoke;
    border-left: 3pt solid grey;
    border-top: 3pt solid grey;
    border-right: 3pt solid grey;
}

.section-head{
    color:black;
    font-size: 18pt;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 5px;
    font-weight: bold;

}

.content-main2{
    background-color: whitesmoke;
    padding-bottom: 20pt;
    border-left: 3pt solid grey;
    border-bottom: 3pt solid grey;
}

.content-main4{
    background-color: whitesmoke;
    border-right: 3pt solid grey;
    border-left: 3pt solid grey;
    border-bottom: 3pt solid grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.content-main3{
    background-color: whitesmoke;
    border-right: 3pt solid grey;
    border-bottom: 3pt solid grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.img-head{
    border:1pt solid black;
}

.bio{
    margin-top:20px;
    padding:5px;
    line-height:1.5;
}

/* contact form specific begin */
#msg-area{
    height:200px;
}

/* contact form specific end */
/* portfolio form specific begin */

.proj-area{
    background-color: black;
    height:200px;
    margin-top:20px;
    margin-bottom:20px;
    border:2pt solid grey;
}

.proj-lbl{
    color:white;
    text-decoration: none;
}

.proj-label-4{
    position: absolute;
    left:0px;
    bottom:20px;  
    background-color: black;
    width:100%;
    color:white;
    border:1pt solid white;
}
.proj-label-3{
    position: absolute;
    left:0px;
    bottom:20px;  
    background-color: black;
    width:100%;
    color:white;
    border:1pt solid white;
}

.proj-label-2{
    position: absolute;
    left:0px;
    bottom:20px;  
    background-color: black;
    width:100%;
    color:white;
    border:1pt solid white;
}

.proj-label-1{
    position: absolute;
    left:0px;
    bottom:20px;  
    background-color: black;
    width:100%;
    color:white;
    border:1pt solid white;
}

.area-1{
    background-image: url('../images/superhero.png');
    background-size: cover;
    background-position: center;

}

.area-2{
    background-image: url('../images/giph.png');
    background-size: cover;
    background-position: center;
}

.area-3{
    background-image: url('../images/Baseball_Icon.jpg');
    background-size: cover;
    background-position: center;
}

.area-4{
    background-image: url('../images/chelsea.jpg');
    background-size: cover;
    background-position: center;
}

.area-5{
    background-image: url('../images/train.png');
    background-size: cover;
    background-position: center;
}

.area-6{
    background-image: url('../images/trophy.jpg');
    background-size: cover;
    background-position: center;
}

.area-7{
    background-image: url('../images/burger.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}

.area-8{
    background-image: url('../images/calendar.png');
    background-size: cover;
    background-position: center;
}


/* portfolio form specific end */