body{
    background-image: url('../images/prism.png');
}

.nav-custom{
    border-bottom: 1px solid whitesmoke ;
}

.navbar-brand{
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    border: 1pt solid black !important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    background: lightgray !important;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke !important;
}

.navbar-nav{
    font-size: 14pt !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.nav-item{
    color:whitesmoke !important;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    text-align: center !important;
}

.first-row{
    margin-top:50px;

}

.content-main{
    background-color: whitesmoke;
    border-left: 3pt solid grey;
    border-top: 3pt solid grey;
    border-right: 3pt solid grey;
}

.section-head{
    color:black;
    font-size: 18pt;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 5px;
    font-weight: bold;

}

.content-main2{
    background-color: whitesmoke;
    padding-bottom: 20pt;
    border-left: 3pt solid grey;
    border-bottom: 3pt solid grey;
}

.content-main4{
    background-color: whitesmoke;
    border-right: 3pt solid grey;
    border-left: 3pt solid grey;
    border-bottom: 3pt solid grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.content-main3{
    background-color: whitesmoke;
    border-right: 3pt solid grey;
    border-bottom: 3pt solid grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.img-head{
    border:1pt solid black;
}

.bio{
    margin-top:20px;
    padding:5px;
}

/* contact form specific begin */
#msg-area{
    height:200px;
}

/* contact form specific end */
/* portfolio form specific begin */

.proj-area{
    background-color:white;
    height:200px;
    margin-top:20px;
    margin-bottom:40px;
    border:1pt solid black;
}